@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 100%;
  max-width: 243px;
  height: 70px;
  background: #ff5e00;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

.btn:hover {
  background: transparent;
  border: 1px solid #707070;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 2.5rem;
}

.vr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}

.vr div {
  height: 20px;
  width: 2px;
  background: #ff5e00;
}

header {
  height: 100px;
  background-color: #000;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo {
  margin-top: 10px;
}

header .container .navbar .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

header .container .navbar .nav_links li a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 60px 10px 20px 10px;
}

header .container .navbar .nav_links li a:hover {
  background: #ff5e00;
}

header .container .navbar .nav_links button {
  width: 100%;
  max-width: 163px;
  min-width: 120px;
  height: 60px;
}

header .container .navbar .burger {
  display: none;
}

header .container .navbar .mobile_menu {
  display: none;
}

.hero {
  height: 100vh;
  background-image: url(../images/man-wearing-black-bow-tie-2330079.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .container .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.hero .container .hero-content h1 {
  font-size: 8rem;
  font-weight: 800;
  color: #fff;
}

.hero .container .hero-content p {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.hero .container .hero-content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-top: 50px;
}

.hero .container .hero-content .button button {
  width: 240px;
  height: 83px;
}

.hero .icon {
  margin: 0 auto;
  border: 2px solid #ff5e00;
  border-radius: 30px;
  height: 80px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.hero .icon i {
  color: #ff5e00;
}

.hero .icon:hover {
  background-color: #ff5e00;
  border: 1px solid #707070;
  -webkit-transition: .4s;
  transition: .4s;
}

.hero .icon:hover i {
  color: #fff;
}

.experience {
  margin: 50px 0px;
}

.experience .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.experience .container .img {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.experience .container .img img {
  width: 100%;
  height: 100%;
}

.experience .container .content {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  color: #fff;
}

.experience .container .content h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.experience .container .content p {
  font-size: 1.6rem;
  font-weight: 300px;
  margin: 30px 10px 10px 0px;
}

.experience .container .content .progess-bar h4 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 80px;
}

.experience .container .content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.service {
  margin: 50px 0px;
}

.service .container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.service .container p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding: 0px 10px;
}

.service .container .service-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 40px;
  margin: 50px 0px;
}

.service .container .service-list div {
  height: 132px;
  width: 100%;
  max-width: 465px;
  background-color: #242121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}

.service .container .service-list div :nth-child(1) {
  background-color: #000;
  padding: 20px;
  border-radius: 50%;
}

.service .container .service-list div :nth-child(2) {
  font-size: 2rem;
}

.service .container .service-list div :nth-child(3) {
  background-color: transparent;
  color: #ff5e00;
  font-size: 2rem;
}

.service .container .service-list div:hover {
  background: #ff5e00;
  -webkit-transition: .4s;
  transition: .4s;
}

.service .container .service-list div:hover :nth-child(1) {
  background-color: #fff;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.service .container .service-list div:hover :nth-child(3) {
  color: #fff;
}

.service .container button {
  width: 240px;
}

.counter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.884))), url(../images/counter-bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.884)), url(../images/counter-bg.png);
  background-size: cover;
  padding: 160px 0px;
  margin: 50px 0px;
}

.counter .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter .container div {
  height: 256px;
  max-width: 328px;
  width: 100%;
  background: #242121;
  border: 2px dashed #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 10px;
}

.counter .container div h1 {
  font-size: 5rem;
  font-weight: 800px;
}

.counter .container div span {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.counter .container div:hover {
  background: #ff5e00;
  border: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.portfolio {
  margin: 50px 0px;
  color: #fff;
}

.portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .container h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.portfolio .container p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding: 0px 10px;
}

.portfolio .container .menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 60px 0px;
}

.portfolio .container .menubar li a {
  color: #fff;
  padding: 5px;
}

.portfolio .container .menubar li a:hover {
  color: #ff5e00;
  border-bottom: 3px solid #ff5e00;
  -webkit-transition: .2s;
  transition: .2s;
}

.portfolio .container .portfolio-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 50px;
  row-gap: 30px;
}

.portfolio .container .portfolio-list img {
  width: 100%;
}

.portfolio .container .portfolio-list img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio .container button {
  width: 240px;
  margin-top: 80px;
}

.testimonial {
  margin: 50px 0px;
}

.testimonial .container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.testimonial .container p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding: 0px 10px;
}

.testimonial .container .slider {
  width: 100%;
  max-width: 1150px;
  height: 500px;
  background: #707070;
  border-radius: 10px;
  margin: 200px 0px 50px 0px;
}

.testimonial .container .slider .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .container .slider .slider-item img {
  margin-top: -140px;
}

.testimonial .container .slider .slider-item h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ff5e00;
  margin-top: 30px;
}

.testimonial .container .slider .slider-item h5 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.testimonial .container .slider .slider-item p {
  font-size: 1.8rem;
  font-weight: 300;
}

.testimonial .container .slider-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  max-width: 300px;
}

.testimonial .container .slider-bar div {
  height: 20px;
  width: 100px;
  background: #707070;
  border-radius: 10px;
}

.testimonial .container .slider-bar :nth-child(2) {
  background: #ff5e00;
}

.hire {
  margin: 50px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.884))), url(../images/counter-bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.884)), url(../images/counter-bg.png);
  background-size: cover;
}

.hire .container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire .container h4 {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 140px;
}

.hire .container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hire .container button {
  margin: 70px 0px 140px 0px;
  width: 240px;
  height: 80px;
}

.latest-blog {
  color: #fff;
  margin: 50px 0px;
}

.latest-blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-blog .container h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.latest-blog .container p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding: 0px 10px;
}

.latest-blog .container .blog {
  margin: 50px 0px 0px 0px;
  height: 472px;
  width: 100%;
  max-width: 442px;
  background: #383737;
  border-radius: 5px;
}

.latest-blog .container .blog img {
  height: 100%;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 200px;
}

.latest-blog .container .blog div {
  margin: 10px 10px 0px 10px;
}

.latest-blog .container .blog div h5 {
  font-size: 1.3rem;
  font-weight: 400;
}

.latest-blog .container .blog div h2 {
  font-size: 1.6rem;
  font-weight: 300;
}

.latest-blog .container .blog div button {
  height: 22px;
  width: 250px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background: transparent;
  border: none;
  margin: 20px 0px 5px -65px;
}

.latest-blog .container .blog div button:hover {
  color: #ff5e00;
}

.latest-blog .container button {
  width: 240px;
  margin-top: 80px;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0px 40px 0px;
}

footer .footer .contact {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  margin: 20px;
}

footer .footer .contact h1 {
  font-size: 4rem;
  font-weight: 700;
}

footer .footer .contact P {
  font-size: 1.2rem;
  font-weight: 300;
}

footer .footer .contact .address {
  margin: 50px 0px;
}

footer .footer .contact .address li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin: 30px;
}

footer .footer .contact .address li i {
  background: #000;
  padding: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin: 15px;
  border: 1px solid #707070;
}

footer .footer .contact .address li .content {
  margin-top: 10px;
}

footer .footer .contact .address li .content h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #707070;
}

footer .footer .contact .address li .content a {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

footer .footer .contact .address li .content a p {
  font-size: 2rem;
  font-weight: 300;
}

footer .footer .contact h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

footer .footer .contact .social {
  margin: 30px 0px 0px -20px;
  height: 70px;
  width: 100%;
  max-width: 500px;
  background: #ff5e00;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .contact .social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

footer .footer .contact .social .social-list a {
  color: #fff;
  font-size: 2.5rem;
}

footer .footer .contact .social .social-list a:hover {
  font-size: 4rem;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer .form {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

footer .footer .form h1 {
  font-size: 4rem;
  font-weight: 700;
}

footer .footer .form input {
  height: 89px;
  width: 48%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 10px;
  color: #707070;
  background: #000;
  border: 1px solid #707070;
  margin: 20px 10px 20px 0px;
  border-radius: 5px;
  outline: white;
}

footer .footer .form :nth-child(5) {
  width: 98%;
  height: 200px;
}

footer .footer .form button {
  margin-top: 35px;
  height: 70px;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
}

footer .copyright p {
  font-size: 1.8rem;
  font-weight: 300;
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1140px;
  }
  header .container .navbar .nav_links {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media screen and (max-width: 1080px) {
  header .container .navbar .nav_links {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .hero {
    position: relative;
    height: 140vh;
  }
  .hero .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .hero .container .hero-content {
    position: absolute;
    top: 180px;
  }
  .hero .container .hero-content h1 {
    text-align: center;
  }
  .hero .container .hero-content p {
    text-align: center;
  }
  .hero .container .hero-content .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .icon {
    position: absolute;
    left: 48%;
    top: 52%;
  }
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .contact .social {
    margin: 0;
  }
  footer .footer .contact .social .social-list {
    padding: 0px 20px;
    border-radius: 10px;
  }
  footer .footer .form h1 {
    margin-top: 50px;
    text-align: center;
  }
  footer .footer .form form {
    margin-left: 10px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 950px) {
  header .container .navbar .nav_links {
    display: none;
  }
  header .container .navbar .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50px;
    height: 40px;
    margin: 35px 30px;
    z-index: 3;
  }
  header .container .navbar .burger .line {
    height: 5px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  header .container .navbar .toggle {
    position: relative;
  }
  header .container .navbar .toggle .line {
    position: absolute;
  }
  header .container .navbar .toggle .line1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .container .navbar .toggle .line2 {
    display: none;
  }
  header .container .navbar .toggle .line3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .container .navbar .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    background-color: #111010;
    -webkit-transform: translatey(-200%);
            transform: translatey(-200%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .container .navbar .mobile_menu li {
    background-color: #ff5e00;
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  header .container .navbar .mobile_menu li a {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  header .container .navbar .mobile_menu li:hover {
    background: transparent;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  header .container .navbar .mobile_menu_show {
    visibility: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 140vh;
  }
  .hero .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience .container .content {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience .container .content h1 {
    text-align: center;
    font-size: 2rem;
  }
  .experience .container .content p {
    text-align: justify;
    font-size: 1.5rem;
  }
  .experience .container .content .button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service .container h1 {
    font-size: 3.5rem;
  }
  .service .container p {
    text-align: justify;
    font-size: 1.5rem;
  }
  .service .container .service-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .counter .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .container h1 {
    font-size: 3rem;
  }
  .portfolio .container p {
    text-align: justify;
    font-size: 1.5rem;
  }
  .portfolio .container .portfolio-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .testimonial .container h1 {
    font-size: 3.5rem;
  }
  .testimonial .container p {
    text-align: justify;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    height: 120vh;
  }
  .hero .container .hero-content {
    top: -20px;
  }
  .hero .container .hero-content h1 {
    font-size: 4rem;
  }
  .hero .container .hero-content p {
    font-size: 1.2rem;
  }
  .hero .container .hero-content .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
  .hero .icon {
    top: 48%;
  }
  .service .container .service-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .counter {
    padding: 80px 0px;
  }
  .counter .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .portfolio .container .menubar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    width: 70%;
  }
  .portfolio .container .menubar li {
    width: 100%;
    background-color: #ff5e00;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .container .menubar li:hover {
    background-color: transparent;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .portfolio .container .menubar li a:hover {
    border: transparent;
    font-size: 2rem;
    font-weight: 700;
  }
  .portfolio .container .portfolio-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .testimonial .container .slider {
    height: 550px;
  }
  .testimonial .container .slider .slider-item p {
    text-align: justify;
  }
  .hire .container h4 {
    font-size: 1.6rem;
  }
  .hire .container h1 {
    font-size: 2.3rem;
  }
  .latest-blog .container .blog div {
    margin: 10px;
    position: relative;
  }
  .latest-blog .container .blog div button {
    position: absolute;
    left: 35%;
  }
  footer .footer .contact .social {
    border-radius: 10px;
  }
  footer .footer .contact .social .social-list {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  footer .footer .form input {
    width: 98%;
    height: 50px;
    margin-top: 0;
  }
  footer .footer .form :nth-child(5) {
    height: 100px;
  }
  footer .footer .copyright p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .hero {
    height: 140vh;
  }
  .hero .container .hero-content h1 {
    font-size: 3rem;
  }
  .hero .container .hero-content p {
    font-size: 0.8rem;
  }
  .hero .icon {
    top: 50%;
  }
  .testimonial .container .slider {
    height: 600px;
  }
  .hire .container h1 {
    font-size: 2rem;
  }
  .hire .container p {
    font-size: 0.8rem;
  }
  footer .footer .contact .social {
    border-radius: 10px;
  }
  footer .footer .contact .social .social-list {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  footer .footer .contact .social .social-list a {
    font-size: 2.3rem;
  }
  footer .footer .contact .social .social-list a:hover {
    font-size: 3rem;
    -webkit-transition: .3s;
    transition: .3s;
  }
  footer .footer .form h1 {
    font-size: 3rem;
  }
  footer .footer .copyright p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */